APP_NAME=Labora Backend
APP_ENV=development
APP_DEBUG=true

API_V1_PREFIX=/api/v1

DATABASE_URL=postgresql+psycopg://labora:labora_password@labora-postgres:5432/labora_db

POSTGRES_DB=labora_db
POSTGRES_USER=labora
POSTGRES_PASSWORD=labora_password
POSTGRES_HOST=labora-postgres
POSTGRES_PORT=5432

CORS_ORIGINS=http://localhost:3000

LOCAL_STORAGE_PATH=/app/storage
MAX_UPLOAD_SIZE_MB=25
