fastapi
uvicorn[standard]

pydantic
pydantic-settings
python-dotenv
email-validator

sqlalchemy
psycopg[binary]
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.1
google-auth
requests

pytest
httpx
