fastapi
uvicorn[standard]
pydantic
pydantic-settings
email-validator
python-multipart

sqlalchemy
psycopg[binary]
alembic

passlib[bcrypt]
python-jose[cryptography]

python-dotenv

pymupdf
pdfplumber
pytesseract
pillow

weasyprint
python-docx
docxtpl

pytest
httpx
